In [3]:
import pandas as pd
import numpy as np
import pymongo
from pymongo import MongoClient

In [4]:
client = pymongo.MongoClient("mongodb+srv://group3:group3psu!@squid.36jsw.mongodb.net/CORD19?retryWrites=true&w=majority")
db = client.CORD19

In [5]:
print("List of collections\n....")
for coll in db.list_collection_names():
    print(coll)

List of collections
....
working2
working

In [6]:
collection_working = db.working
mw = pd.DataFrame(list(collection_working.find()))

In [7]:
mw.describe()

/Users/kanchanjha/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,_id,cord_uid,title,license,abstract,publish_time,authors,journal
count,167890,167890,167890,167890,167890,167890,167890,167890
unique,167890,155816,128957,18,89377,645,107956,14867
top,5f71118b4d4ac17de823e4c2,foaceqe3,,unk,,2020-01-01 00:00:00,,
freq,1,22,58,90828,60473,74911,3967,14840
first,NaN,NaN,NaN,NaN,NaN,2019-01-02 00:00:00,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2021-12-31 00:00:00,NaN,NaN

In [8]:
mw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167890 entries, 0 to 167889
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   _id           167890 non-null  object
 1   cord_uid      167890 non-null  object
 2   title         167890 non-null  object
 3   license       167890 non-null  object
 4   abstract      167890 non-null  object
 5   publish_time  167890 non-null  datetime64[ns]
 6   authors       167890 non-null  object
 7   journal       167890 non-null  object
dtypes: datetime64[ns](1), object(7)
memory usage: 10.2+ MB

In [9]:
mw.head()

,_id,cord_uid,title,license,abstract,publish_time,authors,journal
0,5f7110594d4ac17de82126d7,gcj14snd,Human rhinovirus spatial-temporal epidemiology...,cc-by,Background: Human rhinovirus (HRV) is the pred...,2019-03-27,"Morobe, John Mwita; Nyiro, Joyce U.; Brand, Sa...",Wellcome Open Res
1,5f7110594d4ac17de821272c,qlwzl5mq,Multiple Introductions of Domestic Cat Feline ...,no-cc,The endangered Florida panther (Puma concolor ...,2019-01-11,"Chiu, Elliott S.; Kraberger, Simona; Cunningha...",Emerg Infect Dis
2,5f7110594d4ac17de821273f,eqgc8v7y,Impact of glucose-6-phosphate dehydrogenase de...,cc-by,Glucose-6-phosphate dehydrogenase (G6PD) defic...,2019-01-02,"May, Win Lai; Kyaw, Myat Phone; Blacksell, Stu...",PLoS One
3,5f7110594d4ac17de821274b,c22kw6f4,Improvement in the survival rates of extracorp...,cc-by,BACKGROUND: Although the utilization of extrac...,2019-01-03,"Baek, Moon Seong; Lee, Sang-Min; Chung, Chi Ry...",Crit Care
4,5f7110594d4ac17de821274c,hbpk850a,Mental health workers perceptions of disaster ...,cc-by,BACKGROUND: The post-disaster mental health cr...,2019-01-03,"Xi, Yingjun; Chen, Runsen; Gillespie, Amy L.; ...",BMC Public Health

In [10]:
import nltk
nltk.download('punkt')
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/kanchanjha/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [11]:
no_sentences=[]
no_words =[]

In [13]:
for i in range(0,mw.last_valid_index()):
    abstract_text = mw.loc[i][4]
    number_of_sentences = sent_tokenize(abstract_text)
    no_sentences.append(len(number_of_sentences))
    number_of_words = word_tokenize(abstract_text )
    no_words.append(len(number_of_words))

In [14]:
print("No. of Sentences in abstract field of metadatadocument is ", sum(no_sentences))
print("No. of Words in abstract fiedl of metadatadocument is", sum(no_words))

No. of Sentences in abstract field of metadatadocument is  875721
No. of Words in abstract fiedl of metadatadocument is 23902426